* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fbf4f4;

    padding: 32px;
}

h1 {
    margin: 22px 0;
}

nav{
    display: flex;
    align-items: center;
    gap: 22px;
}

a {
    color: #f24d0d;
    text-decoration: none;
}

a, button{
    font-weight: 700;
    transform: filter 0.2s;
}

button:hover,
a:hover{
    filter: brightness(0.7);
}

span{
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
}

strong{
    color: #f24d0d;
    text-transform: uppercase;
}

button{
    background-color: #f24d0d;
    padding: 12px 16px;
    border-radius: 7px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.cards {
    display:flex;
    gap: 16px;
    margin: 18px 0;
    flex-wrap: wrap;
}

.cards a {
    width: 100px;
    height: 100px;
    background-color: #d7eff9;
    color: #0095e5;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}