@import "tailwindcss";


@theme{
  --text-xxs: 0.625rem
}


body {
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 312px;
}

input,
select,
textarea {
  height: 52px;
  font-size: 14px;
  background-color: #fff;

  border-radius: 7px;

  border: 1px solid #d6d3d1;
  padding: 0 12px;

  outline-color: #1349c3;
  font-family: "Poppins", sans-serif;
}

textarea {
  height: auto;
  padding: 16px;
}

button {
  height: 52px;
  border: none;
  border-radius: 7px;
  background-color: #1349c3;
  font-weight: 600;

  font-size: 16px;
  color: #ffffff;

  padding: 0 12px;

  cursor: pointer;
  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

input[type="date"]::before {
  content: "";
  position: absolute;
  background: url("./assets/calendar.svg") center/contain;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;

  top: 50%;
  transform: translateY(-50%);
}

select {
  appearance: none;
  background: url("./assets/arrow-down.svg") no-repeat calc(100% - 1rem);
}

label {
  color: #57534e;
  font-size: 14px;
}

.error {
  color: #dc2626;
  font-size: 12px;
  margin-left: 7px;
}
