.container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1.5rem
}

.container > span{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
}